{% extends 'main/index.html' %}
{% load my_tags %}
{% block content %}
<div class="col-12 mb-5">
<a class="btn btn-lg btn-block btn-light" href="{% url 'comment_create' %}">Добавить отзыв</a>
</div>
{% for object in object_list %}
<div class="col-md-auto">
  <div class="card text-center mb-4 box-shadow">
    <div class="col-auto">
      <div class="header-card">
          <strong class="d-inline-block mb-2 text-primary-emphasis">{{ object.name }}</strong>
      </div>
      <div class="body-card">
          <h3 class="mb-0">{{ comment.email }}</h3>
          <p class="card-text mb-auto"> Отзыв оставлен к услуге "{{ object.service }}"</p>
          <p class="card-text mb-auto">{{ object.message }}</p>
      </div>
        <br>
      <div class="footer-card">
          <p class="card-text mb-auto">Отзыв оставлен {{ object.create_at }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
